.container {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background: linear-gradient(var(--green), var(--green-dark));
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  box-shadow: 0 -1px 5px 5px var(--yellow);
}

.container::before {
  content: '';
  position: absolute;
  left: -24px;
  bottom: -1px;
  top: 0;
  width: calc(52% - 1px);
  background: linear-gradient(var(--green), var(--green-dark));
  transform: skewX(33deg);
  border: 1px solid var(--black);
  border-right: none;
  border-top: none;
  box-shadow: -6px 0px 5px -1px var(--yellow);
}

.container > * {
  position: relative;
}

.container label {
  display: inline-flex;
  gap: 0.5rem;
  place-items: center;
  font-weight: 600;
  min-width: 55px;
  justify-content: right;
}

.container input[type='checkbox'] {
  margin: 0;
}

.panel .footer {
  position: absolute;
  inset: 0;
  overflow-x: clip;
  height: 100px;
}

.panel .footer {
  top: initial;
  background: linear-gradient(to top, var(--green), var(--green-dark));
  border-top: 1px solid var(--black);
  box-shadow: -5px -5px 5px var(--yellow);
}

.footer::before {
  width: calc(52% - 1px);
  height: 34px;
}

.footer::before {
  content: '';
  position: absolute;
  top: -34px;
  right: -2%;
  background: var(--green-dark);
  transform: skewX(-33deg);
  border: 1px solid var(--black);
  border-bottom: none;
  box-shadow: -5px -5px 5px var(--yellow);
}

.expanded_button {
  position: absolute;
  left: -24px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: transform 500ms ease;
  cursor: pointer;
}

.expanded_button svg {
  width: 28px;
  height: 28px;
}

.expanded_button:focus,
.expanded_button:hover {
  color: var(--blue-dark);
}
