.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
  grid-auto-rows: max-content;
  justify-content: center;
  gap: 30px;
  padding: 10px 20px 30px;

  --white: hsl(0, 0%, 100%);
  --yellow-light: hsl(45, 91%, 91%);
  --yellow: hsl(42, 93%, 57%);
  --yellow-dark: hsl(25, 59%, 52%);
  --green-ligth: hsl(133, 94%, 93%);
  --green: hsl(86, 63%, 60%);
  --green-dark: hsl(147, 28%, 36%);
  --blue-light: hsl(189, 60%, 93%);
  --blue: hsl(225, 48%, 76%);
  --blue-dark: hsl(222, 36%, 50%);
  --purple-light: hsl(294, 95%, 92%);
  --purple: hsl(276, 42%, 63%);
  --purple-dark: hsl(292, 39%, 30%);
  --grey: hsl(240, 4%, 40%);
  --black: hsl(0, 0%, 0%);
}

.card {
  position: relative;
  background-color: var(--blue-dark);
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 9px 1px hsl(0deg 0% 90%);
  transition: box-shadow 200ms ease, transform 350ms ease-in-out;
  outline: none;
  color: var(--blue-light);
  font-size: 20px;
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(1.05);
  box-shadow: 0 0 9px 5px hsl(0deg 0% 90%);
  color: var(--yellow);
}

.card::before {
  content: '';
  position: absolute;
  border-radius: 16px;
  inset: 0 1%;
  box-shadow: 0 -5px 0 0 hsl(276, 42%, 63%);
}

.card:nth-child(3n + 1):before {
  box-shadow: 0 -5px 0 0 hsl(276, 42%, 63%);
}

.card:nth-child(3n + 2):before {
  box-shadow: 0 -5px 0 0 hsl(86, 63%, 60%);
}

.card:nth-child(3n):before {
  box-shadow: 0 -5px 0 0 hsl(225, 48%, 76%);
}

.card img {
  object-fit: contain;
  max-width: 400px;
  aspect-ratio: 800 / 450;
  height: auto;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 16px;
  background-color: var(--blue-dark);
  font-weight: 300;
  padding-bottom: 20px;
  z-index: 1;
}
