.container {
  height: 1.6rem;
  background-color: #f2f4f5;
  position: relative;
  display: inline-block;
}

.container::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #bfc8cc;
  animation: loadSkeleton 2s infinite;
}

.checkbox {
  width: 1.3rem;
  height: 1.3rem;
}

@keyframes loadSkeleton {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}
