.container {
  padding: 0;
  /* display: grid;
  grid-template-columns: 4.75rem 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: 'sidebar main'; */
  font-size: 1.2rem;
}

.scroll_content {
  /* grid-area: main;
  overflow-y: auto; */
  /* height: 100%; */
}

.container main {
  min-height: 100vh;
  padding: 6rem 0 4rem;
  display: flex;
  flex-direction: column;
  perspective: 100rem;
}

@media screen and (min-width: 480px) {
  .container main {
    padding: 4rem 0;
  }
}

.container main > * {
  padding-left: 8.75rem;
  padding-right: 4rem;
}
