.container {
  display: grid;
  height: 100vh;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.panel {
  background-color: white;
  border-radius: 8px;
  padding: 50px;
}

.panel button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  color: var(--color-text);
  background: var(--color-background-primary);
  border: none;
  border-radius: 8px;
  box-shadow: 0 9px 15px 6px hsl(230 79% 92%);
  transition: box-shadow 200ms ease, transform 350ms ease-in-out;
}

.panel button:active {
  box-shadow: 0 9px 15px 6px hsl(230 79% 62%);
}

.panel button:active,
.panel button:focus,
.panel button:hover {
  outline: 3px dashed hsl(201deg 56% 70%);
  outline-offset: 3px;
}

.panel button svg {
  width: 16px;
  height: 16px;
}
