.container {
  background: url('/galaxy.png');
  background-color: var(--color-background-alter);
  color: var(--color-text-white);
  height: 175px;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

@media screen and (min-width: 480px) {
  .container {
    background-repeat: round;
    font-size: 5rem;
  }
}
