.container {
  position: relative;
  margin-top: 20px;
}

.file_name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: var(--yellow);
  padding: 10px 20px;
  background-color: hsl(0, 0%, 12%);
}

.container > pre {
  background-color: hsl(240, 1%, 20%);
  padding: 20px;
  white-space: pre-wrap;
  line-break: anywhere;
}

.file_name + pre {
  padding-top: 60px;
}
