.container {
  position: relative;
}

.file_name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: var(--yellow);
  padding: 10px 5px 10px 20px;
  background-color: hsl(0, 0%, 18%);
}

.container pre {
  color: hsl(0, 0%, 83%);
  background-color: hsl(0, 0%, 12%);
  padding: 10px 20px 10px 5px;
  text-align: left;
  overflow: auto;
  min-height: 135px;
}

.file_name + pre {
  padding-top: 60px;
}

.container pre > div {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 20px;
}

.container pre[data-lines='1'] > div {
  grid-template-columns: 25px 1fr;
}

.container pre[data-lines='3'] > div {
  grid-template-columns: 40px 1fr;
}

.container pre[data-lines='4'] > div {
  grid-template-columns: 55px 1fr;
}

.line_no {
  text-align: right;
  user-select: none;
  opacity: 0.5;
  color: var(--yellow-light);
}

button.copy {
  display: flex;
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 20px;
  background-color: hsl(0, 0%, 18%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  box-shadow: 0 0 0 transparent;
  transition: opacity 400ms ease, box-shadow 400ms ease;
}

.copy:hover {
  box-shadow: 0 0 5px var(--yellow);
}

.copy svg {
  width: 24px;
  height: 24px;
}

.container:hover .copy {
  opacity: 1;
}
