.container {
  line-height: 4rem;
  font-size: 4em;
  margin-left: -0.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container > span {
  display: inline-block;
}

.container > span:first-letter {
  color: var(--purple);
}

@media screen and (min-width: 480px) {
  .roles {
    font-size: 6em;
  }
}
