.container {
  margin: 0;
  line-height: 4rem;
  font-size: 6rem;
  color: var(--color-primary);
}

.container a {
  color: var(--color-secondary);
  text-decoration: none;
}

.container a:hover,
.container a:focus,
.container a:active {
  text-decoration: underline;
}
