/* jquery ui */
.ui-datepicker-trigger
{
    position: relative;
    top: 4px;
    left: -20px;
}
/* jquery ui end */

/* label */
.label-extra-large label, label.extra-large
{
    display: inline-block;
    width: 165px;
}

.label-large label, label.large
{
    display: inline-block;
    width: 130px;
}

.label-medium label, label.medium
{
    display: inline-block;
    width: 100px;
}

.label-small label, label.small
{
    display: inline-block;
    width: 75px;
}

label.field
{
    display: inline-block;
    width: 200px;
}
/* label end */

/* input */
.input-extra-large input, input.extra-large
{
    width: 450px;
}

.input-large input, input.large
{
    width: 250px;
}

.input-medium input, input.medium
{
    width: 150px;
}

.input-small input, input.small
{
    width: 75px;
}

label input[type=checkbox]
{
    vertical-align: sub;
    margin: 0 5px;
}

.input-x-small input,
input.x-small
{
    width: 67px;
}

.input-xx-large input,
input.xx-large
{
    width: 731px;
}

.input-x-large input,
input.x-large
{
    width: 428px;
}

.input-x-large select, select.x-large
{
    width: 439px;
}
/* input end */

/* select */
.input-extra-large select
, select.extra-large
, .input-extra-large .chosen-container
, .chosen-container.extra-large

{
    width: 462px;
}

.input-large select
, select.large
, .input-large .chosen-container
, .chosen-container.large
{
    width: 262px;
}

.input-medium select
, select.medium
, .input-medium .chosen-container
, .chosen-container.medium
{
    width: 162px;
}

.input-small select
, select.small
, .input-small .chosen-container
, .chosen-container.small
{
    width: 87px;
}

.input-exta-small select
, select.extra-small
, .input-exta-small .chosen-container
, .chosen-container.exta-small
{
    width: 122px;
}

.formulaire select
{
    margin: 5px 0 6px 0;
    padding: 3px;
    border-color: #e2e2e2;
}
/* select end */

/* margin */
.ml-20
{
    margin-left: 20px;
}
/* margin end */

/* grid */
.col
{
    margin-right: 10px;
    float: left;
}

.row
{
    margin-bottom: 5px;
}
/* grid end */

/* cadre */
.cadre
{
    border: 1px solid #c6c6c6;
    padding: 0 5px;
    margin-bottom: 5px
}

.cadreGray
{
    border: 2px groove threedface;
    margin: 7px;
    padding: 7px;
    width: 1369px;
}
/* cadre end */

/* header */
.header
{
    padding: 0 5px;
    border: 1px Solid #c6c6c6;
    background-color: #D4E4F3;
    margin-bottom:5px;
}
/* header end */