/* knockout-grid */
.knockout-grid {
    margin: 0em;
    border-spacing: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

    .knockout-grid thead tr th {
        height: 22px;
        padding: 2px 5px;
    }

    .knockout-grid tfoot tr td {
        font-weight: normal!important;
        color: black!important;
        background: #f7f7f7;
        height: 22px;
        padding: 2px 5px;
    }

    .knockout-grid tbody tr {
        background-color: white;
    }

        .knockout-grid tbody tr:hover {
            background-color: #FED242!important;
        }

        .knockout-grid tbody tr:focus {
            background-color: #FED592!important;
        }

        .knockout-grid tbody tr.selected {
            background-color: #FED592!important;
        }

        .knockout-grid tbody tr.knockout-grid-select-row {
            background-color: #FEE592
        }

        .knockout-grid tbody tr td {
            padding: 5px!important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

.knockout-pager {
}

    .knockout-pager .knockout-pager-page-list {
        display: inline;
    }

    .knockout-pager .knockout-pager-item {
        cursor: pointer;
        margin-right:5px;
        color: #46b6e6
    }    

        .knockout-pager .knockout-pager-item:hover  {
            color: #f0a003
        } 
        
        .knockout-pager .knockout-pager-item.disabled {
            cursor: default;
            color: black
        }    

            .knockout-pager .knockout-pager-item.disabled:hover  {
                color: black
            }   

        .knockout-pager span.knockout-pager-item  {
            text-decoration: underline
        }  

        .knockout-pager span.knockout-pager-item.current-page {
            color: #0C6BD7
        }

            .knockout-pager span.knockout-pager-item.current-page:hover {
                color: #0C6BD7
            }
/* knockout-grid End */
