/* Onglet */
.ongletContent
{
    background-color: #fff;
    border: 1px solid #C6C6C6;
    border-top:none;
    padding: 5px
}

.ongletHorizontal
{
	display: block;
    height: 30px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    overflow:hidden
}
    
    .ongletHorizontal .slider
    {
        height: 30px;
        position: absolute;
        display: inline-block;
        width: 35px;
        right: 5px;
        background: #05329a;
        border-bottom: none;
        z-index: 999;
    }

        .ongletHorizontal .slider span
        {
            width:16px;
            height:30px;
            display:block;
            cursor:pointer;
            float:left;
        }

            .ongletHorizontal .slider span.arrow
            {
                background-repeat: no-repeat;
                background-position: right center;
            }

                .ongletHorizontal .slider span.arrow.right
                {
                    background-image: url(../images/Arrow_right_white_16x16.png);
                    border-right: 1px solid #05329a;
                }

                    .ongletHorizontal .slider span.disable.arrow.right,
                    .ongletHorizontal .slider span.disable.arrow.right:hover
                    {
                        background-color: #868686;
                        border-right: 1px solid #868686;
                        cursor:default
                    }

                    .ongletHorizontal .slider span.arrow.right:hover
                    {
                        background-color: #009EE1;
                        border-right: 1px solid #009EE1;
                    }

                .ongletHorizontal .slider span.arrow.left
                {
                    background-image: url(../images/Arrow_left_white_16x16.png);
                    border-left: 1px solid #05329a;
                    border-right: 1px solid #c6c6c6;
                }

                    .ongletHorizontal .slider span.disable.arrow.left,
                    .ongletHorizontal .slider span.disable.arrow.left:hover
                    {
                        background-color: #868686;
                        border-left: 1px solid #868686;
                        cursor:default
                    }

                    .ongletHorizontal .slider span.arrow.left:hover
                    {
                        background-color: #009EE1;
                        border-left: 1px solid #009EE1;
                    }  

    .ongletHorizontal > div
    {
	    border-bottom:1px solid #c6c6c6; height:29px
    }

    .ongletHorizontal ul
    {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;

        white-space:nowrap;
        position:relative;
        right:0px
    }

        .ongletHorizontal ul li
        {
	        display:inline-block;
            /*float: left;*/
            margin-right: 3px;
            text-decoration: none;
            letter-spacing: 1px;
            padding: 5px 10px 0 10px;
            color: black;
            text-align: center;
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border: 1px solid #C6C6C6;
            padding-top: 3px;
            margin-bottom: -1px;
            height: 25px;
            border-bottom: none;
            background-color: #C6C6C6;
            cursor: pointer
        }
            .ongletHorizontal ul li label
            {
                cursor: pointer
            }

            .ongletHorizontal ul li.active label
            {
                cursor: default
            }

            .ongletHorizontal ul li:hover
            {
	            cursor: pointer;
	            background-color: #009EE1 !important;
                color: white;
            }

            .ongletHorizontal ul li.active:hover
            {
                background-color: white !important;
                color: #0C6BD7;
                cursor: default;
            }

            .ongletHorizontal ul li.active
            {
	            background-color: white !important;
                color: #0C6BD7;
                height: 27px;
                margin-bottom: -2px;
            }