.table
{
    width: 100%;
    border-collapse: collapse;
    border-right: 1px solid #688caf;
}

    .table td, .table th 
    {
        padding: 10px;
    }

        .table thead tr 
        {
            border-top: 1px solid #688caf;
            border-left: 1px solid #688caf;
        }

        .table thead th 
        {
            background-color: #dae6f4;
            border-right: 1px solid #688caf;
            border-bottom: 1px solid #688caf;
            color: white;
            font-weight: bold;
            font-size: 12px;
            text-transform: none;
            text-align:center
        }  
        
            .table thead th a
            {
                display: inline-block;
            } 

    .table tbody 
    {
        border: 1px solid #688caf;
    }

        .table tbody td 
        {
            border-right: 1px solid #d0d7e5;
            border-bottom: 1px solid #d0d7e5;
            font-size: 12px;
        }

            .table tbody td.disabled
            {
                color: #939597;
            }

            .table tbody td.selected
            {
                background-color: #9ECE25;
            }

        .table tbody tr
        {
            border-top: 1px solid #d0d7e5;
            border-left: 1px solid #688caf;
        }

            .table tbody tr.alternate 
            {
                background-color: #F1F3F4;
            }

            .table tbody tr.error
            {
                background-color: #E45225;
                color: #FFF;
            }

        .table tbody tr td:last-of-type
        {
            border-right: 1px solid #688caf;
        }

        .table tbody tr:last-of-type td
        {
            border-bottom: 1px solid #688caf;
        }

    .table tfoot
    {
        border: 1px solid #688caf;
    }

        .table tfoot tr td 
        {
            background: #dae6f4;
        }