<% layout('../layout') %>
<div id="portal" data-bind="event: { mouseup: masterMouseUp }">
    <div class="search-container form-inline" data-bind="event: { keypress: keypressSearch }">
        <div style="position: relative; display: inline-block; padding-right: 100px; width: 100%; max-width: 600px;">
            <input type="text" class="form-control" style="width:100%;max-width:500px" placeholder="Search..." data-bind="value:criterion, valueUpdate: 'afterkeydown'" />
            <input type="button" class="btn btn-primary" value="search" data-bind="click:search" style="position: absolute;right: 20px;top: 0;" />
        </div>
        <div>
            <label><input type="radio" style="margin: 5px" name="searchEngine" value="bing" data-bind="checked: searchEngine" /><img src="/assets/bing_40.png" height="20" /></label>
            <label><input type="radio" style="margin: 5px" name="searchEngine" value="google" data-bind="checked: searchEngine" /><img src="/assets/google_40.png" height="20" /></label>
            <label><input type="radio" style="margin: 5px" name="searchEngine" value="facebook" data-bind="checked: searchEngine" />Facebook</label>
            <label><input type="radio" style="margin: 5px" name="searchEngine" value="twitter" data-bind="checked: searchEngine" />Twitter</label>
        </div>
    </div>
    <div class="body-content">
        <!-- ko foreach: columns -->
        <div class="col-md-4">
            <!-- ko foreach: $data -->
            <div data-bind="hoverToggleCss: 'hover', event: { mouseup: $root.mouseUp }">
                <div style="height:15px">
                </div>
                <!-- ko with: $root.dragObject -->
                <div class="box box-drag-drop">
                    <div class="box-header">
                        <label data-bind="text:title"></label>
                    </div>
                    <div class="box-content" data-bind="foreach:items">
                        <div class="box-item">
                            <div class="item-header">
                                <label data-bind="css: { triangle: true } "></label>
                                <a data-bind="html: title"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="box" data-bind="hoverToggleCss: 'hover', event: { mouseup: $root.mouseUp }">
                <div class="box-header" data-bind="event: { mousedown: $root.mouseDown }">
                    <label data-bind="text:title"></label>
                </div>
                <div class="box-content" data-bind="foreach:items">
                    <div class="box-item">
                        <div class="item-header">
                            <label data-bind="click:expandItem, css: { triangle: !expand(), triangleExpand: expand } "></label>
                            <a data-bind="click: click, html: title, attr: { href: link, title: title, alt: title }"></a>
                        </div>
                        <div data-bind="visible: expand">
                            <!-- ko if:expand -->
                            <div data-bind="html: description"></div>
                            <div data-bind="html: content"></div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: $root.isMobile() === false -->
            <div data-bind="hoverToggleCss: 'hover', event: { mouseup: function (object, ev) { $root.mouseUpEndColumn(object, ev, $index); } }, css: { 'drag-move' : $root.dragObject() !== null }" style="margin:15px 0; min-height:15px">
                <!-- ko if: $root.dragObject() !== null -->
                <!-- ko with: $root.dragObject -->
                <div class="box box-drag-drop" style="margin-bottom:0">
                    <div class="box-header">
                        <label data-bind="text:title"></label>
                    </div>
                    <div class="box-content" data-bind="foreach:items">
                        <div class="box-item">
                            <div>
                                <label data-bind="css: { triangle: true } "></label>
                                <a data-bind="html: title, attr: { href: link }"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <div style="clear:both"></div>
    </div>
</div>
