.main_title {
  margin-left: -0.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.block2,
.block3,
.block4,
.block5 {
  padding: 50px;
  color: var(--blue-dark);
  display: flex;
  justify-content: flex-start;
  font-size: 1.25em;
}

.block2 p,
.block3 p,
.block4 p {
  width: 50%;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.block2 {
  color: #fafff9;
  background-color: #979e4c;
}

.block4 img,
.block3 img,
.block2 img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
}

.block2 img {
  width: 100%;
  left: 0;
}

.block3 img {
  right: initial;
  left: 0;
}

.block3 {
  background-color: #e9e8e6;
  justify-content: flex-end;
}

.block4 {
  color: #fafff9;
  background-image: linear-gradient(#442a90, #2e1c6a);
}

.block5 {
  color: #fafff9;
  background-color: var(--green-dark);
  padding: 50px;
}

.experience {
  padding: 50px;
  display: flex;
}

.logo svg {
  width: 100%;
  max-height: 300px;
}

.experience img {
  width: auto;
  height: 100%;
  max-height: 250px;
  max-width: 100%;
  object-fit: contain;
}

.experience > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.experience_image {
  display: flex;
  justify-content: center;
  flex: 1;
}

.white_bg > img {
  background-color: hsl(0 0% 85%);
  margin: 0 -3px;
  padding: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.experience:nth-child(2n) {
  flex-direction: row-reverse;
  gap: 50px;
  background-color: var(--grey);
}

.experience_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.company {
  color: var(--green);
  font-size: 1.5em;
  font-weight: 600;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.stacks > span:not(:last-child)::after {
  content: '-';
}

.project .title {
  color: var(--blue);
  font-size: 1.25em;
  font-weight: 600;
}

.project .icon {
  width: 20px;
  height: 20px;
}

.project .info,
.project .team_size {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.project .role {
  color: var(--purple-light);
}

.contact_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.contact {
  cursor: pointer;
  border: 2px solid var(--purple);
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 3em;
  color: var(--blue-light);
  transition: box-shadow 200ms ease, transform 350ms ease-in-out;
}

.contact:hover,
.contact:focus {
  box-shadow: inset 0 0 15px hsl(224 29% 60%);
  text-decoration: none;
  color: var(--blue);
}

.contact:active {
  transform: scale(0.97);
}

.contact:focus {
  outline: 3px dashed hsl(201deg 56% 80%);
  outline-offset: 3px;
}
