.title {
  margin-left: -0.5rem;
  text-transform: uppercase;
}

.block2,
.block3,
.block4 {
  padding: 50px;
  color: var(--blue-dark);
  display: flex;
  justify-content: flex-start;
}

.block2 p,
.block3 p,
.block4 p {
  width: 50%;
}

.block2 {
  background-color: var(--purple-light);
}

.block3 {
  background-color: var(--blue-light);
  justify-content: flex-end;
}

.block4 {
  background-color: var(--green-ligth);
}

.experience {
  padding: 50px;
  display: flex;
  justify-content: flex-start;
}

.experience > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.experience:nth-child(2n) {
  justify-content: flex-end;
}

.experience_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
