.block2,
.block3,
.block4,
.block5 {
  padding: 50px 2rem;
  color: hsl(110, 100%, 99%);
  text-shadow: 0 0 5px black;
  display: flex;
  justify-content: flex-start;
  font-size: 1.25em;
}

.block2 p,
.block3 p,
.block4 p {
  backdrop-filter: blur(10px);
  z-index: 1;
}

@media screen and (min-width: 480px) {
  .block2,
  .block3,
  .block4,
  .block5 {
    padding: 50px;
  }

  .block2 p,
  .block3 p,
  .block4 p {
    width: 50%;
  }
}

.block2 {
  background-color: hsl(65, 35%, 46%);
}

.block4 img,
.block3 img,
.block2 img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

@media screen and (min-width: 480px) {
  .block4 img,
  .block3 img,
  .block2 img {
    filter: initial;
  }
}

.block2 img {
  width: 100%;
  left: 0;
}

.block3 img {
  right: initial;
  left: 0;
}

.block3 {
  background-color: hsl(222, 35%, 15%);
  justify-content: flex-end;
}

.block4 {
  background-image: linear-gradient(hsl(255, 55%, 36%), hsl(254, 58%, 26%));
}

.block5 {
  background-color: var(--green-dark);
  padding: 50px;
}
