.roles {
  display: grid;
  grid-template-columns: 320px;
  gap: 30px;
  padding: 50px 0;
  color: var(--blue-light);
  background-color: var(--blue-dark);
  margin-top: 40px;
}

.separator {
  width: 1px;
  background-color: hsl(0 0% 20%);
}

.role {
  font-size: 2em;
  font-weight: 800;
}

.roles > div {
  display: grid;
  align-items: center;
  justify-content: center;
}

.tasks {
  font-size: 1.25em;
  margin: 0;
  margin-left: 10px;
  list-style-type: none;
}
.tasks > li {
  margin-left: 10px;
  position: relative;
}
.tasks > li:before {
  content: '-';
  position: absolute;
  left: -15px;
}

@media screen and (min-width: 480px) {
  .roles {
    grid-template-columns: 1fr auto 1fr;
  }
}
