.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -4.75rem;
  right: 0;
  border-top: 1px solid hsl(0 0% 45%);
}
