.container {
  flex: 1;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsl(0 0% 97%);
  color: hsl(0 0% 20%);
  margin-top: 300px;
  padding: 30px;
}

.container::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(to right, hsl(245 53% 63%), hsl(296 39% 69%));
}

.container::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 10px;
  background-color: hsl(252 13% 92%);
}

.profiles {
  display: grid;
  gap: 30px;
  margin-top: -250px;
}

@media screen and (min-width: 480px) {
  .profiles {
    margin-top: -100px;
    grid-template-columns: auto auto auto;
  }
}
