.container {
  --fill: 0%;
  border-radius: 4px;
  color: hsl(0 0% 20%);
  font-size: 12px;
  box-shadow: 0 0 6px 3px hsl(0deg 0% 90%);
  display: grid;
  grid-template-columns: 100px auto 50px;
  grid-template-rows: 70px;
  align-items: center;
  grid-gap: 30px;
  gap: 15px;
  padding: 15px;
  background-color: white;
  position: relative;
}

.container img {
  border-radius: 8px;
  position: relative;
  top: 25%;
  box-shadow: 0 0 15px 3px hsl(201 56% 80%);
}

.container > img::before {
  filter: blur(30px);
}

.btn_circle {
  position: relative;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 3px hsl(201 56% 80%);
  border: 1px solid hsl(201 56% 70%);
  cursor: pointer;
  transition: box-shadow 200ms ease;
}

.btn_circle::before {
  --triangle-side: calc(1.25rem + 2px);
  content: '';
  width: 0;
  height: 0;
  border-top: calc(var(--triangle-side) * 0.75) solid transparent;
  border-bottom: calc(var(--triangle-side) * 0.75) solid transparent;
  border-left: var(--triangle-side) solid hsl(201 56% 50%);
  transform: translateX(15%);
}

.btn_circle::after {
  --triangle-side: 1.25rem;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: calc(var(--triangle-side) * 0.75) solid transparent;
  border-bottom: calc(var(--triangle-side) * 0.75) solid transparent;
  border-left: var(--triangle-side) solid hsl(201 56% 50%);
  transform: translateX(15%);
}

.btn_circle:active {
  box-shadow: 0 0 15px 3px hsl(201 56% 50%);
}

.btn_circle:active::after {
  border-left: var(--triangle-side) solid hsl(201 56% 75%);
}

.btn_circle:focus {
  outline-offset: 3px;
  outline-color: hsl(201deg 56% 70%);
  outline-style: dashed;
}
