<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title %></title>
    <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  	<script src="http://localhost:35729/livereload.js"></script>
  	<script src="/scripts/modernizr/modernizr.js"></script>
  	<script src="/scripts/jquery/dist/jquery.js"></script>
    <!--@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")-->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand"><%-title %></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.gmail.com/" target="_blank">Gmail</a></li>
                    <li><a href="/home/about">About</a></li>
                    <li><a href="/home/contact">Contact</a></li>
                </ul>
                <ul style="margin-right:0" class="nav navbar-nav navbar-right">
                	<li><a id="registerLink" href="/account/register">Register</a></li>
                	<li><a id="loginLink" href="/account/login">Log in</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <%- body %>
    </div>
    <div class="footer-content">
        <footer>
            <p>&copy; 2014 - Allan BIENNE - <%-title %></p>
        </footer>
    </div>

    <script src="/scripts/knockout/dist/knockout.js"></script>
    <script src="/scripts/knockout-mapping/build/output/knockout.mapping-latest.debug.js"></script>
    <script src="/scripts/knockout-validation/Dist/knockout.validation.js"></script>
	<script src="/scripts/kuijs/knockout.tools.js"></script>
	<script src="/scripts/viewmodels/indexViewModel.js"></script>
    <!--<script src="/scripts/bootstrap/dist/js/bootstrap.js"></script>-->
    

    <script type="text/javascript">
	    var indexViewModel = new portalViewModel();
	    $(document).ready(function () {
	    	$.ajax({ url: "/api/feed/listModule" })
	    		.done(function (data) {
	    			indexViewModel.init(data);
	        		ko.applyBindings(indexViewModel, document.getElementById("portal"));
	    		});	        
	    });
	</script>
    <!--@RenderSection("scripts", required: false)-->
</body>
</html>