.container {
  position: relative;
  display: flex;
  gap: 10px;
  font-size: 0.75em;
}

.signAs {
  position: absolute;
  top: calc(100% + 20px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--color-background-navbar);
  color: var(--color-text-white);
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: opacity 350ms ease-in-out;
}

.signAs > span:nth-child(2) {
  font-weight: 700;
}

.container:hover .signAs {
  opacity: 1;
}

.avatar {
  border-radius: 50%;
  width: 28px;
  aspect-ratio: 1 / 1;
  background-color: var(--color-text-white);
  background-size: contain;
  background-repeat: no-repeat;
}

.button {
  cursor: pointer;
  color: var(--color-text-white);
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
