.container {
  display: grid;
  justify-content: center;
  background-color: grey;
  padding: 20px 0;
  font-size: 10px;
}

.page {
  color: hsl(0 0% 85%);
  background-color: hsl(0 0% 15%);
  padding: 20px 15px;
  font-size: 2em;
  width: 800px;
  height: 1120px;
}

.page:not(:first-child) {
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  gap: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.page_header,
.page_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 0.75em;
}

.page_counter {
  position: absolute;
  right: 0;
}

.header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
}

.roles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.now {
  display: grid;
  align-items: center;
  justify-content: center;
}

.experience {
  --border-width: 10px;
  --border-color: hsl(275 50% 75%);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-areas: 'logo content';
  gap: 20px;
  position: relative;
  z-index: 1;
  font-size: 0.75em;
}

.experience:nth-child(2n) {
  grid-template-columns: 1fr 75px;
  grid-template-areas: 'content logo';
}

.experience_logo {
  grid-area: logo;
  padding: 10px 0;
}

.experience_content {
  grid-area: content;
  position: relative;
  padding: 10px;
  padding-left: calc(10% - 10px);
  background-color: hsl(0 0% 15%);
  background-clip: padding-box; /* !importanté */
  border: var(--border-width) solid transparent; /* !importanté */
  border-right: none;
  border-radius: 10% / 50% 0 0 50%;
  /* padding: 10px;
  border: var(--border-width) solid transparent;
  border-image: linear-gradient(
    90deg,
    var(--border-color) 50%,
    transparent 50%
  );
  border-image-slice: 1;
  border-left: var(--border-width) solid var(--border-color);
  border-right: none;
  border-radius: 10% / 50% 0 0 50%; */

  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-areas: '. stack';
  gap: 10px;
}

.experience_content::before {
  --border-width: 10px;
  --border-color: hsl(275 50% 75%);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: calc(-1 * var(--border-width)); /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(90deg, var(--border-color) 50%, transparent 50%);
}

.experience:nth-child(2n) .experience_content {
  /* border-image: linear-gradient(
    90deg,
    transparent 50%,
    var(--border-color) 50%
  );
  border-image-slice: 1;
  border-right: var(--border-width) solid var(--border-color); */
  border-left: none;
  padding-left: 0;
  border-radius: 10% / 0 50% 50% 0;

  grid-template-columns: 100px 1fr;
  grid-template-areas: 'stack .';
}

.experience:nth-child(2n) .experience_content::before {
  --border-color: hsl(275 50% 75%);
  background: linear-gradient(90deg, transparent 50%, var(--border-color) 50%);
}

.experience_stack {
  grid-area: stack;
}

.experience:not(:first-child) {
  margin-top: calc(-1 * var(--border-width));
}

.separator + .experience {
  margin-top: 0;
}

.separator {
  width: 800px;
  height: 5px;
  background-color: hsl(201 56% 50%);
  margin: 10px -15px;
}

.page_break {
  height: 10px;
  background-color: grey;
  margin: 10px -15px;
}

@media print {
  .container {
    padding: initial;
    color: hsl(0 0% 85%);
    background-color: hsl(0 0% 12%);
  }

  .page_break {
    margin: initial;
    background-color: initial;
    height: initial;
    page-break-before: always;
  }
}
