.container {
  position: relative;
  grid-area: sidebar;
  gap: 2rem;
  padding-top: 3rem;
  overflow-y: clip;
  font-size: 1rem;
  width: 24px;
  background: linear-gradient(90deg, var(--purple), var(--purple-dark));
  border-right: 1px solid var(--black);
  box-shadow: 5px 5px 5px var(--yellow);
  transition: width 500ms ease;
}

.container::before {
  height: calc(32% - 1px);
  width: 44px;
  content: '';
  position: absolute;
  right: -44px;
  top: -2%;
  background: var(--purple-dark);
  transform: skewY(-33deg);
  border: 1px solid var(--black);
  border-left: none;
  box-shadow: 5px 5px 5px var(--yellow);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: relative;
  right: -24px;
}

.expanded_button {
  position: absolute;
  top: 350px;
  right: -24px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: transform 500ms ease;
  cursor: pointer;
}

.container[aria-expanded='true'] {
  width: 120px;
}

.container[aria-expanded='true'] .expanded_button {
  transform: rotateY(180deg);
}

.container[aria-expanded='true'] .link > span {
  opacity: 1;
}

.container[aria-expanded='true'] .link:focus::before,
.container[aria-expanded='true'] .link:hover::before {
  right: initial;
  left: -10px;
}

.expanded_button svg {
  width: 28px;
  height: 28px;
}

.expanded_button:focus,
.expanded_button:hover {
  color: var(--green);
}

.link {
  color: var(--blue-light);
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.link > span {
  opacity: 0;
  transition: opacity 500ms ease;
}

.link > svg {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.link[aria-current='page'] {
  color: var(--yellow);
}

.link:focus,
.link:hover {
  color: var(--green);
  text-decoration: none;
}

.link:focus::before,
.link:hover::before {
  content: '';
  position: absolute;
  width: 4px;
  right: 35px;
  top: 0;
  bottom: 0;
  background-color: var(--green);
}

.link[aria-current='page']::after {
  content: '';
  position: absolute;
  width: 4px;
  right: -10px;
  top: 0;
  bottom: 0;
  background-color: var(--yellow);
}
