.container {
  position: relative;
  grid-area: sidebar;
  display: flex;
  align-items: center;
}

.container::before {
  content: '';
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar {
  z-index: 1;
  background-color: var(--color-background-alter);
  min-width: 7.5rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
  height: fit-content;
  padding: 5rem 1rem;
  border-radius: 4rem;
  position: relative;
  left: 1rem;
  font-size: 1rem;
}

.link {
  /* color: COLOR_PALETTE.light; */
}

.link[aria-current='page'] {
  color: var(--color-primary);
}

.link:hover {
  color: var(--color-primary-focus);
}
